@model proj.Models.Quiz
@{
    ViewData["Title"] = "CreateQuiz";
}

@if (DataStorage.IsLoggedIn())
{

    <h1>Stwórz Quiz</h1>

    <h4>Quiz</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateQuiz" method="post">
                <div class="form-group">
                    <label for="quizname" class="control-label">Nazwa quizu</label>
                    <input type="text" id="quizname" name="quizname" class="form-control" value="" placeholder="Nazwa Twojego quizu" required />
                    <span asp-validation-for="@Model.QuizName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="category" class="control-label"></label>
                    <select id="category" name="category">
                        @for (int i = 0; i < Category.CATEGORIES.Length - 1; i++)
                        {
                            <option value=@Category.CATEGORIES[i]>@Category.CATEGORIES[i]</option>
                        }
                        <option selected value=@Category.CATEGORIES[Category.CATEGORIES.Length - 1]>@Category.CATEGORIES[Category.CATEGORIES.Length - 1]</option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>

                <h4>DODAJ PYTANIE DO SWOJEGO QUIZU! :)</h4>
                <!-- PYTANIE  -->

                <div class="form-group">
                    <label for="type" class="control-label"></label>
                    <select id="type" name="type">
                        <option selected value=@QuestionTypes.TYPES.ToList()[0].Key>@QuestionTypes.TYPES.ToList()[0].Value</option>
                        @for (int i = 1; i < QuestionTypes.TYPES.ToList().Count; i++)
                        {
                            <option value=@QuestionTypes.TYPES.ToList()[i].Key>@QuestionTypes.TYPES.ToList()[i].Value</option>
                        }

                    </select>
                </div>


                <div class="form-group">
                    <label for="q1" class="control-label">Pytanie:</label>
                    <input type="text" id="q" name="q" class="form-control" value="" placeholder="Treść pytania" required />
                </div>
                <br />
                <div class="form-group">
                    <label for="qa1" class="control-label">Treść odpowiedzi</label>
                    <input type="text" id="qa1" name="qa1" class="form-control" value="" placeholder="Treść odpowiedzi" required />
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="qa1bool" name="qa1bool" value="1" />
                    <label for="qa1bool" class="form-check-label">Prawidłowa?</label>

                </div>

                <div class="form-group">
                    <label for="qa2" class="control-label">Treść odpowiedzi</label>
                    <input type="text" id="qa2" name="qa2" class="form-control" value="" placeholder="Treść odpowiedzi" required />
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="qa2bool" name="qa2bool" value="1" />
                    <label for="qa2bool" class="form-check-label">Prawidłowa?</label>
                </div>


                <div id="additional_answer">
                    <button id="add_answer" class="btn btn-primary">Dodaj kolejną odpowiedź</button>
                </div>




                <div class="form-group">
                    <input type="submit" name="submit" value="Dodaj następne pytanie" class="btn btn-primary" />
                </div>

                <div class="form-group">
                    <input type="submit" name="submit" value="STWÓRZ" class="btn btn-primary" />
                </div>




            </form>
        </div>
    </div>



    <div>
        <a asp-action="Index">Back to List</a>
    </div>


}
else
{
    <div>
        <input id="signin" onclick="location.href='@Url.Action("Login", "Home")'" type="button" value="Zaloguj się" />

        <h6>Nie masz konta? Zarejestruj się:</h6>
        <input id="signup" onclick="location.href='@Url.Action("CreateUser", "Home")'" type="button" value="Zarejestruj się" />
    </div>
}


