@{
    ViewData["Title"] = "Home Page";
}


    <div class="jumbotron">

        <div class="text-center">
            <h1 class="display-4">Wybierz quiz</h1>
            <br />
        </div>


        <div class="form-group">
            <label for="category" class="control-label">Kategoria</label>
            <select id="category" name="category">
                <option selected value="All">Wszystkie</option>
                @for (int i = 0; i < Category.CATEGORIES.Length; i++)
                {
                    <option value=@Category.CATEGORIES[i]>@Category.CATEGORIES[i]</option>
                }

            </select>
        </div>


            <form id="quizes" asp-action="Quiz">
                @{
                    for (int i = 0; i < ViewBag.quizes.Count; i++)
                    {
                        <section class="row mb-1 @ViewBag.quizes[i].Category">
                            <div class="col-10">
                                <button type="submit" name="ID" value=@ViewBag.quizes[i].IdQuiz class="btn btn-primary btn-lg btn-block">@ViewBag.quizes[i].QuizName</button>
                            </div>
                            <div class="col-2">
                                <input id="ShowUser" onclick="location.href='@Url.Action("ShowUser", "Home")'" type="button" value=@ViewBag.quizes[i].UsernameFK class="btn btn-secondary btn-lg btn-block" />
                                
                            </div>
                           
                        </section>
                        
                    }

                }

            </form>

        <hr class="my-4">
        <input id="Start" onclick="location.href='@Url.Action("Index", "Home")'" type="button" value="Powrót" class="btn btn-secondary" />
    </div>
