@model proj.Models.Score
@{
    ViewData["Title"] = "Home Page";

    string mess030 = "Może spróbuj jeszcze raz?";
    string mess3160 = "Popracuj jeszcze trochę!";
    string mess6190 = "Dobrze Ci poszło!";
    string mess91100 = "Jesteś mistrzem!";
}


    <div>
        <div class="jumbotron">
            <h2 class="display-4">
                @{
                    if (@Model.GetPercent() <= 30)
                    {
                        <span style="color: #0069D9"><b>UPS...</b></span> @mess030;
                    }
                    else if (@Model.GetPercent() > 30 && @Model.GetPercent() <= 60)
                    {
                        <span style="color: #0069D9"><b>NIEŹLE!</b></span> @mess3160;
                    }
                    else if (@Model.GetPercent() > 60 && @Model.GetPercent() <= 90)
                    {
                        <span style="color: #0069D9"><b>SUPER!</b></span> @mess6190;
                    }
                    else
                    {
                        <span style="color: #0069D9"><b>GRATULACJE!</b></span> @mess91100;
                    }
                }
            </h2>
            <p class="lead">
                <b>Twoj wynik: <b>@Math.Round(Model.GetPercent()) %</b></b>
            </p>
            <hr class="my-4">


            @{
                for (int i = 0; i < Model.UserCorrectnessAnswers.Count; i++)
                {
                    string n = "Q" + (i + 1);
                    string collapsenumber = "collapse" + n;
                    string headingnumber = "heading" + n;
                    string youranswer = "Twoja odpowiedź: " + ViewData[n];
                    string correctanswer = "Poprawna odpowiedź: " + Model.CorrectAnswers[i];
                    string question = "Pytanie " + (i + 1) + ": " + Model.Questions[i].TextQuestion;

                    if (Model.UserCorrectnessAnswers[i] == true)
                    {
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="@headingnumber">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#@collapsenumber" aria-expanded="false" aria-controls="@collapsenumber">
                                            <span style="color: black">@question</span> <span style="color: green">DOBRZE</span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="@collapsenumber" class="collapse" aria-labelledby="@headingnumber" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @youranswer
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="@headingnumber">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#@collapsenumber" aria-expanded="false" aria-controls="@collapsenumber">
                                            <span style="color: black">@question</span> <span style="color: red">ŹLE</span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="@collapsenumber" class="collapse" aria-labelledby="@headingnumber" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @youranswer
                                        <br />
                                        @correctanswer
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }


            <br />
            <form asp-action="Quiz">
                <button type="submit" name="ID" value=@Model.IdQuiz class="btn btn-primary btn-sm">Spróbuj jeszcze raz</button>
            </form>
            <input id="Back" onclick="location.href='@Url.Action("Index", "Home")'" type="button" value="Strona główna" class="btn btn-secondary btn-sm" />

        </div>
    </div>



    